.container{
    .header {
        width: 100%;
        display: flex;
        background-color: darkslateblue;
        padding: 15%;
    .bannerimg{
        width:75%;
    }
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.5rem;
        }
    }
}//closes header
}//closes container